/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.wrapper {
  display: flex;
  border: 2px solid black;
}

#c1, #c2, #c3 {
  
  margin: 15px;
  padding: 80px;
  text-align: left;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #707379;
  display: inline-block;
}

#c1{
  flex: 1;
  text-align: left;
  background-color: #FFF1DC;
}

#c1 button{
  font-size: 1.2rem; /* Bigger font size for buttons */
  padding: 10px ; /* Add padding to buttons */
  margin: 10px;
  background-color: rgb(150, 146, 146); /* Button background color */
  color: black; /* Button text color */
  border: none; /* Remove default borders */
  border-radius: 7px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Add hover effect */
}

#c1 p1{
  color: #000000;
}

#c2{
  flex: 2;
}

#c3{
  flex: 3;
}

.firstPage {
  text-align: left;
  border: #0055ff;
}

/* #firstPage{
  flex: 2;
} */

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  
  font-family: Arial;
  text-align: left;
}